.container {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    margin: 0 auto;
    padding: 53px 17px;
    background-color: #fff;
    backdrop-filter: blur(0px);
    border-radius: 21px;
    gap: 10px;
  }
  
  .container-2 {
    width: auto;
    height: 128px;
    margin: 0 auto;
    padding: 16px 10px;
    background-color: #fff;
    backdrop-filter: blur(50px);
    border-radius: 21px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .user-greeting-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 5px;
  }
  
  .user-greeting {
    font-weight: 600;
    font-size: 20px;
  }
  
  .view-all {
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
  }
  
  .points-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  
  .points-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-align: center;
    margin: 0 5px;
  }
  
  .points-card-title {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .points-card-value {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .points-card-units {
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .transaction-section {
    margin-top: 40px;
    padding-top: 10px;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .transaction-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .transaction-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-align: left;
    margin-bottom: 0px;
  }
  
  .transaction-place-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .transaction-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .transaction-date {
    font-size: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .transaction-points {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
  }
  
  .transaction-image {
    width: 13px;
    height: 13px;
    margin-left: 3px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  
  .action-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 23px;
    font-family: 'Mitr', sans-serif;
    padding: 51px 33px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
    width: 175px;
    height: auto;
  }
  
  .search-nearby-button {
    width: auto;
    height: 192px;
    padding: 0;
    margin-bottom: 0px;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .small-map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  
  .modal-map {
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
  }
  
  .history-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .history-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .view-all-transactions {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  .close {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  
  .buttonClose {
    background-color: #fff;
    border: none;
  }
  
  .full-map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  
  .t {
    font-weight: 600;
    font-size: 20px;
  }
  
  .loading {
    text-align: center;
  }