.popup-container {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  /* Ensure content stays within container */
  max-width: 300px;  /* You can adjust this size as needed */
  
}

.popup-content .popup-image {
  width: 100%;  /* Image width matches container */
  max-width: 200px;  /* Max width of the image */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup-content h4 {
  margin-bottom: 10px;
}

.popup-content p {
  margin: 5px 0;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;  /* Buttons take full width */
}

.popup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9E76B4;
  color: #fff;
  cursor: pointer;
  width: 100%;  /* Button width matches container */
}

.popup-button.close-button {
  background-color: #9E76B4;
  margin-top: 5px;
}
